# CORE SERVICE -----------------------------------------------------------------------------
# 模型配置
ONLINE_BASE_URL="https://api.deepseek.com/v1"
ONLINE_API_KEY=""
ONLINE_MODEL_NAME="deepseek-chat"

# 压缩模型配置
LLM_MODEL_NAME_FOR_COMPRESS=""
LLM_TOKEN_FOR_COMPRESS=""

# 工作路径（建议按本机实际路径设置）
WORKSPACE_PATH="."
# LOG_PATH="logs"

# 技能缓存配置
SKILLS_CACHE_PATH="${WORKSPACE_PATH}/skill_cache"

# 技能相关路径配置
SKILLS_PATH="${WORKSPACE_PATH}/Agent_Work_Dir/Skills"
SKILLS_CREATE_TEMPLATE="${WORKSPACE_PATH}/Agent_Work_Dir/Skills/SkillTemplete"

# 文件相关路径配置
UPLOAD_PATH="${WORKSPACE_PATH}/Agent_Work_Dir/Files/User_Files"
UPLOADED_SKILL_PATH="${WORKSPACE_PATH}/Agent_Work_Dir/Files/Uploaded_Skills"
DOWNLOAD_SKILL_PATH="${WORKSPACE_PATH}/Agent_Work_Dir/Files/Download_Skills"

# 运行参数
STREAM_CHUNK_SIZE=128
MODEL_MAX_TOKENS=4096
REACT_MAX_ITERS=17
SKILL_CREATOR_NAME="skill-creator"
REQUEST_TIMEOUT_SECONDS=30

# 沙箱配置
IF_SANDBOX=1
SANDBOX_TYPE="skill_scope"
COMPRESS_LIMIT=45
SKILL_META_API_URL=""
SANDBOX_SERVICE_URL="http://127.0.0.1:8000"
